[package]
name = "wchar"
version = "0.1.1"
authors = ["Juici <juicy66173@gmail.com>"]
description = "A procedural macro for compile time UTF-16 strings"

documentation = "https://docs.rs/wchar"
homepage = "https://github.com/Juici/wchar-rs"
repository = "https://github.com/Juici/wchar-rs"
readme = "README.md"
license = "MIT"

keywords = ["wide", "string", "wchar", "utf16"]
categories = ["text-processing"]

include = ["Cargo.toml", "src/**/*.rs", "README.md", "LICENSE"]

[badges]
appveyor = { repository = "Juici/wchar-rs" }
travis-ci = { repository = "Juici/wchar-rs" }
maintenance = { status = "passively-maintained" }

[lib]
proc-macro = true

[dependencies.syn]
version = "0.14"
default-features = false
features = ["derive", "parsing"]

[dependencies.proc-macro2]
version = "0.4"
features = ["nightly"]
